body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
  
}

header{
  border-bottom: 1px solid #DBDBDB;
  padding: 15px 150px;

  h1{
    font-size: 25px;
  }
  p{
    padding: 0px 20px;
    font-size: 18px;
  }
  img{
    margin-right: 9px;
  }


}

